* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5cbff;
  font-family: "Work Sans", sans-serif;

}

main {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

img {
  width: 100px;
}

h1 {
  font-family: "Fjalla One", sans-serif;
}

p {
  margin-bottom: 15px;
}

form {
  background-color: #d1b8cf;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

fieldset {
  padding: 15px;
  border: 1px solid #ff00b3;
  border-radius: 5px;
  margin-bottom: 15px;
}

legend {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  padding: 0 5px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

textarea {
  min-height: 100px;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

input[type="color"] {
  width: 40px;
  padding: 0 5px;
}

input:invalid,
select:invalid,
textarea:invalid {
  border-color: red;
}

input:valid,
select:valid,
textarea:valid {
  border-color: rgb(51, 248, 94);
}

button {
  background-color: #ff00b3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

button[type="submit"]:hover {
  background-color: #00ff62;
  color: white;
}

button[type="reset"]:hover {
  background-color: #a50016;
  color: white;
}